@value makerWheat,makerShadow,makerColorful,makerBlack,makerWhite from '../../common/colors.css';
.card{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5em;
    border-radius: 2em;
    background-color: yellow;
    box-shadow: 6px 6px 8px 0px makerShadow;
    max-width: 40rem;
}
.card.dark{
    background-color: makerBlack;
    color:makerWhite;
}

.card.light{
    background-color: makerWhite;
    color:makerBlack;
}

.card.colorful{
    background: makerColorful;
    color:makerWhite;
}
.profile{
    width: 10em;
    height: 10em;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}

.info{
    width: 100%;}

.name,
.univ,
.title,
.email,
.message{
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.25em;
}
.name{
    font-size: 1.2rem;
}
.univ{
    margin-bottom: 1em;
}
.univ::after{
    content:'';
    display: block;
    width: 90%;
    height: 2px;
    background-color: makerWheat;
    transform: translateY(0.5em);
}